@tailwind base;
@tailwind components;
@tailwind utilities;

/* font prompt */
/* @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap'); */


@font-face {
    font-family: "Prompt Light";
    src: url('/fonts/Prompt-Light.ttf');
}

@font-face {
    font-family: "Prompt Medium";
    src: url('/fonts/Prompt-Medium.ttf');
}

@font-face {
    font-family: "Prompt Regular";
    src: url('/fonts/Prompt-Regular.ttf');
}

@font-face {
    font-family: "Prompt SemiBold";
    src: url('/fonts/Prompt-SemiBold.ttf');
}

@font-face {
    font-family: "Sarabun Light";
    src: url('/fonts/Sarabun-Light.ttf');
}

@font-face {
    font-family: "Sarabun Medium";
    src: url('/fonts/Sarabun-Medium.ttf');
}

@font-face {
    font-family: "Sarabun Regular";
    src: url('/fonts/Sarabun-Regular.ttf');
}

@font-face {
    font-family: "Sarabun SemiBold";
    src: url('/fonts/Sarabun-SemiBold.ttf');
}

.MuiInputLabel-formControl {
    font-family: "Sarabun Regular" !important;
}

textarea::placeholder {
    font-family: "Sarabun Regular" !important;
    font-size: 16px;
}

textarea {
    font-family: "Sarabun Regular" !important;
    font-size: 16px;
}

input::placeholder {
    font-family: "Sarabun Regular" !important;
}

.btn-grad {
    --bg-color: to right, rgba(59,159,197,1) -1%, rgba(38,150,193,1) 0%, rgba(69,161,198,1) 42%, rgba(69,161,198,1) 44%, rgba(84,160,195,1) 59%, rgba(63,101,140,1) 100%, rgba(41,91,141,1) 100%;
    background: -moz-linear-gradient(var(--bg-color));
    background: -webkit-linear-gradient(var(--bg-color));
    background: linear-gradient(var(--bg-color));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9fc5', endColorstr='#295b8d',GradientType=1 );
 }
 
 .btn-grad:hover {
    background: linear-gradient(to right, 
    rgba(69,161,198,1) 42%,
    rgba(41,91,141,1) 100%,
    rgba(63,101,140,1) 100%,
    rgba(84,160,195,1) 59%,
    rgba(69,161,198,1) 44%,
    rgba(38,150,193,1) 0%,
    rgba(59,159,197,1) -1%);
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    background-position: right center;
}

#scrollbar-custom::-webkit-scrollbar{
    width:10px;
    background-color:#cccccc;
}
#scrollbar-custom::-webkit-scrollbar:horizontal{
    height:10px;
}
#scrollbar-custom::-webkit-scrollbar-track{
    border:0px #787878 solid;
    border-radius:10px;
    -webkit-box-shadow:0 0 6px #c8c8c8 inset;
}
#scrollbar-custom::-webkit-scrollbar-thumb{
    background-color:#e6e6e6;
    border:0px solid #000000;
    border-radius:16px;
}
#scrollbar-custom::-webkit-scrollbar-thumb:hover{
    background-color:#b0b0b0;
    border:0px solid #333333;
}
#scrollbar-custom::-webkit-scrollbar-thumb:active{
    background-color: #3b9fc5;
    border:0px solid #333333;
}